<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-holder sticky-top py-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <strong>SHIPPER</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page == 'dashboard' %} active-link {% endif %}" aria-current="page" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Register
          </a>
          <ul class="dropdown-menu dropdown-holder" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item {% if page == 'newship' %} active-link {% endif %}" href="{% url 'registership' %}">New Ship</a></li>
            <li><a class="dropdown-item {% if page == 'addons-reg' %} active-link {% endif %}" href="{% url 'addons' %}">New Boat</a></li>
            <li>
<!--              <hr class="dropdown-divider">-->
            </li>
          </ul>
        </li>
      </ul>


      <div class="d-flex">
        <ul class="navbar-nav">

          {% if request.user.is_authenticated %}

          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link {% if page == 'logout' %} active-link {% endif %}">Logout</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link {% if page == 'login' %} active-link {% endif %}">Login</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link {% if page == 'register' %} active-link {% endif %}">Register</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>

  </div>
</nav>