.form-holder,
.common-card {
  border-radius: 20px;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

}

.common-card-1 {
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.ship{
border-radius: 10px;
}

.t-none {
  text-decoration: none;
  color: var(--bs-secondary);
}

.ship-holder {
  height: 100vh;
  overflow-y: auto;
  position: sticky;
  top: 70px;
  left: 0;
  width: 100%;
  text-decoration: none;
}

.active-ship {
  border-left: 4px solid var(--bs-primary);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--bs-primary);
}

@media screen and (max-width: 600px) {

  .form-holder,
  .common-card {
    border-radius: 5px;
    padding: 5px;
  }

}