{% extends './../components/base.html' %}
{% load static %}

{% block content %}


  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-holder">
          <h1>Update Container Details</h1>
          <hr class="dropdown-divider">
            <div>
              {% include './../components/errors.html' %}
            </div>
          <form method="POST">
            {% csrf_token %}

            {% for field in containerform %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="my-2"><strong>{{field.label}}</strong></label>
                    <div class="text-danger">{{field.errors}}</div>
                    {{field}}
                    {% if field.help_text %}
                        <p class="text-warning">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}


            <button type="submit" class="btn btn-primary rounded-pill px-5">Update Container</button>

          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}